<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Association</display-name>
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>edu.prog3.tp.association.presentation.controller.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<servlet-name>AccueilController</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<servlet-name>ArticleController</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<servlet-name>OrderController</servlet-name>
  </filter-mapping>
    <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<servlet-name>AccountController</servlet-name>
  </filter-mapping>
  <servlet>
  	<servlet-name>AccueilController</servlet-name>
  	<servlet-class>edu.prog3.tp.association.presentation.controller.servlets.AccueilController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<servlet-class>edu.prog3.tp.association.presentation.controller.servlets.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterController</servlet-name>
  	<servlet-class>edu.prog3.tp.association.presentation.controller.servlets.RegisterController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ArticleController</servlet-name>

  	<servlet-class>edu.prog3.tp.association.presentation.controller.servlets.ArticleController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderController</servlet-name>
  	<servlet-class>edu.prog3.tp.association.presentation.controller.servlets.OrderController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AccountController</servlet-name>
  	<servlet-class>edu.prog3.tp.association.presentation.controller.servlets.AccountController</servlet-class>
  </servlet>
  
    <servlet-mapping>
  	<servlet-name>AccueilController</servlet-name>
  	<url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AccueilController</servlet-name>
  	<url-pattern>/page</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AccueilController</servlet-name>
  	<url-pattern>/page/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/login/*</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/logout/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterController</servlet-name>
  	<url-pattern>/register/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterController</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ArticleController</servlet-name>
  	<url-pattern>/article</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ArticleController</servlet-name>
  	<url-pattern>/articles/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderController</servlet-name>
  	<url-pattern>/order</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderController</servlet-name>
  	<url-pattern>/order/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AccountController</servlet-name>
  	<url-pattern>/account</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>AccountController</servlet-name>
  	<url-pattern>/account/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>accueil</welcome-file>
  </welcome-file-list>
</web-app>